@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

* {
  font-size: 18px;
}

body {
	background-color: #ef8bcc;
	background-image:  radial-gradient(#000000 1px, transparent 0.5px), radial-gradient(#000000 1px, #ef8bcc 0.5px);
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;
}

.white-wrapper {
	background-color: white;
	width: 50%;
	padding: 20px;
	margin: 5% auto;
	box-shadow: 10px 10px 0 black;
	border: 2.5px solid black;
	border-radius: 8px;
}

h1 {
	margin: 30px;
	font-family: 'Oswald', sans-serif;
  	text-align: center;
  	font-size: 65px;
  	color: #f7cd5f;
	letter-spacing: 3.5px;
	text-shadow: 4px 3px 0.5px #000;
}

.prompt {
	font-family: 'Anonymous Pro', monospace;
	color: black;
	font-size: 16px;
    line-height: 130%;
	text-align: center;
    width: 80%;
	margin: 30px auto;
}

.blue-name-button-in-p {
	background-color: #2367b9;
	opacity: 0.7;
	padding: 0 5px;
	color: white;
	border-radius: 5px;
}

.color-inputs {
  	margin: 30px;
  	text-align: center;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: center;
}

.color-input {
	font-family: 'Anonymous Pro', monospace;
  	margin: 10px;
    padding: 5px 15px;
  	border: 2px solid black;
	box-shadow: 3px 3px 0.5px #000;
  	border-radius: 5px;
  	outline: none;
  	color: #2367b9;
}

.color-input::placeholder:focus {
	opacity: 0.5;
    color: #2367b9;
}

.color-button {
	margin: 30px;
	text-align: center;
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
	gap: 30px;
}

button {
	font-family: 'Anonymous Pro', monospace;
	font-size: 18px;
	color: white;
	background-color: #2367b9;

  	padding: 7px 20px;
  	border-radius: 5px;
	border: 2px solid black;
	box-shadow: 3px 3px 0.5px #000;

  	transition: 0.2s;
  	cursor: pointer;
}

.button-mix:hover {
	color: black;
  	background-color: #f7cd5f;
}

.button-reset:hover {
	color: black;
  	background-color: #E94C5A;
}

button:active {
  	background-color: #E94C5A;
  	box-shadow: 1px 1px 0.5px #000;
}

.color-circles {
	display: flex;
	flex-direction: row;
  	justify-content: center;
    align-items: center;
    margin: 30px;
}

#mixed-color {
  	width: 180px;
  	height: 180px;
  	margin: 40px auto 20px auto;
  	border-radius: 50%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	position: relative;
	border: 3px solid black;
}

#first-color,
#second-color {
  	width: 150px;
  	height: 150px;
  	margin: 40px auto 20px auto;
  	border-radius: 50%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	position: relative;
	border: 3px solid black;
}

#color-code,
#first-color-code,
#second-color-code {
  	color: white;
  	font-size: 23px;
  	font-weight: bold;
  	letter-spacing: 2px;
  	text-transform: uppercase;
  	position: absolute;
	font-family: 'Anonymous Pro', monospace;
}

/*
#mixer {
    position: fixed;
    top: 50%;
    left: 70%;
    transform: rotate(23deg);
} */